{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid ">
            <div class="row mx-4">
                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-header">
                            <h1 class="m-0 font-weight-bold text-primary">{{ clients.Site }}</h1>
                            <a href="{{ clients.Url }}">{{ clients.Url }}</a>
                        </div>
                        <div class="card-body">
                            <table class="table  dataTable table-striped">
                                <tr class=" text-light{% if actif %} bg-success {% else %} bg-danger {% endif %}">
                                    <td class="font-weight-bold">Client actif</td>
                                    <td class="">{% if actif %} Oui {% else %} Non {% endif %}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Site réalisé par Uniweb</td>
                                    <td>{% if clients.Uniweb %} Oui {% else %} Non {% endif %}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Client depuis</td>
                                    <td>Une date</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Site hacké</td>
                                    <td>{{ clients.Hack }}</td>
                                </tr>
                                {% if clients.Hack %}
                                    <tr>
                                        <td class="font-weight-bold">Date du hack</td>
                                        <td>2021/01/28</td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="card shadow">
                        <div class="card-header">
                            <h3 class="m-0 font-weight-bold text-primary">Informations</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <tr>
                                    <td class="font-weight-bold">Société</td>
                                    <td>{{ clients.Societe }}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Contact</td>
                                    <td><span class="font-weight-bold">{{ clients.Contact }}</span> en rôle de <span class="font-weight-bold">{{ clients.Role }}</span></td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Numéro</td>
                                    <td>0{{ clients.Telephone }}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Email</td>
                                    <td>{{ clients.Email }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="container-fluid">
        <div class="row mx4">
            <div class="col-12 col-md-6">
                <div class="card shadow">
                    <div class="card-header">
                        <h3 class="m-0 font-weight-bold text-primary">Services</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr class="{% if clients.Seo %}bg-success{% else %}bg-danger{% endif %} text-light">
                                <td class="font-weight-bold">SEO</td>
                                <td class="text-center">{% if clients.Seo %} Oui {% else %} Non {% endif %}</td>
                            </tr>
                            <tr class="{% if clients.Sea %}bg-success{% else %}bg-danger{% endif %} text-light">
                                <td class="font-weight-bold">SEA</td>
                                <td class="text-center">{% if clients.Sea %} Oui {% else %} Non {% endif %}</td>
                            </tr>
                            <tr class="{% if clients.Tma %}bg-success{% else %}bg-danger{% endif %} text-light">
                                <td class="font-weight-bold">TMA</td>
                                <td class="text-center">{% if clients.Tma %} Oui {% else %} Non {% endif %}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card shadow">
                    <div class="card-header">
                        <h3 class="m-0 font-weight-bold text-primary">Caractéristiques</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr>
                                <td class="font-weight-bold">CMS</td>
                                <td>
                                    {% if clients.Cms|lower == 'wordpress' %}
                                        <i class="fab fa-wordpress text-primary"></i>
                                    {% elseif clients.Cms|lower == 'drupal' %}
                                        <i class="fab fa-drupal text-primary"></i>
                                    {% endif %}
                                    {{ clients.Cms }}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Url administrateur</td>
                                <td>{{ clients.AdminUrl }}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Accès</td>
                                <td>{{ clients.AdminAcces }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}